### Words

In [1]:
# Split Site Last Changed On into
# Site Last Changed Date and Site Last Changed Time

# Split Species into readable name, abbreviation, and scientific name

### Making dataframe

In [1]:
import sys
sys.path.append('..')
from scripts.load_data import load_data

df = load_data()

In [2]:
df.head()

,Site ID,Quarter Section,Address,Street,Side,Site,On Street,Species,DBH,Latitude,...,Side of Street,Site Type,Valuation Total,Site Last Changed On,Site Comments,Census Block: Disadvantaged Area,Census Block ID,Full Name,Abbreviation,Scientific Name
0,166587,537,3407,1ST PL /S,Side,1,HOLT AV /W,"MAPLE, NORWAY (NOR) (ACER PLATANOIDES)",12.0,42.982287,...,South,R Tree Border,2093.42,2023-11-13 14:53:46,<NA>,True,550790185001,"MAPLE, NORWAY",NOR,ACER PLATANOIDES
1,166592,537,3407,1ST PL /S,Side,2,HOLT AV /W,"PEAR, CALLERY CHANTICLEER (CCP) (PYRUS CALLERY...",4.0,42.982285,...,South,R Tree Border,601.49,2024-12-11 09:35:31,Uprooting in north wind,True,550790185001,"PEAR, CALLERY CHANTICLEER",CCP,PYRUS CALLERYANA (CHANTICLEER)
2,166828,537,3410,1ST PL /S,Front,1,1ST PL /S,"MAPLE, NORWAY (NOR) (ACER PLATANOIDES)",12.0,42.982162,...,East,R Tree Border,2093.42,2023-11-13 14:53:46,<NA>,True,550790185001,"MAPLE, NORWAY",NOR,ACER PLATANOIDES
3,166831,537,3413,1ST PL /S,Front,1,1ST PL /S,"MAPLE, NORWAY (NOR) (ACER PLATANOIDES)",17.0,42.982124,...,West,R Tree Border,3783.49,2023-11-13 14:53:46,<NA>,True,550790185001,"MAPLE, NORWAY",NOR,ACER PLATANOIDES
4,166834,537,3419,1ST PL /S,Front,1,1ST PL /S,"HONEYLOCUST, THORNLESS SKYLINE (SKL) (GLEDITSI...",3.0,42.982006,...,West,R Tree Border,519.90,2023-11-13 14:53:46,<NA>,True,550790185001,"HONEYLOCUST, THORNLESS SKYLINE",SKL,GLEDITSIA TRIACANTHOS INERMIS (SKYLINE)